.card {
    border-radius: 12px;
    position: relative;
    border: 1px solid #eaeaea;
    padding: 1.2rem;
    height: 100%;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.image {
    width: 100%;
    border-radius: 8px;
    height: 150px;
    object-fit: cover;
}

.title {
    margin-top: .4rem;
}

.date {
    margin-top: .4rem;
    opacity: 0.5;
}

.categories {
    margin-top: .5rem;
    display: flex;
    gap: 5px;
}
